### Build output ###
/build/
out/
target/
*.class
*.jar
*.war
*.ear

### Gradle ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### IDE & Tools ###
.idea/
*.iml
.vscode/
*.sw?

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Environment / Secrets ###
*.env
src/main/resources/application.yml
src/main/resources/application-*.yml

*/application.yml
*/application.yaml

*/application-*.yml
*/application-*.yaml

api-admin/src/main/resources/application.yaml
api-user/src/main/resources/application.yaml

